<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
<div class="container">
<h1>Правила</h1>
    <ul>
        <li>Выберите количество символов в пароле.</li>
        <li>Поставьте галочку "Верхний регистр", если в пароле должны присутствовать символы в верхнем регистре.</li>
        <li>Поставьте галочку "Цифры", если в пароле должны присутствовать цифры.</li>
        <li>Поставьте галочку "Спецсимволы", если в пароле должны присутствовать спецсимволы.</li>
        <li>Нажмите кнопку "Сгенерировать пароль".</li>
    </ul>
    <p><a href="{% url 'home' %}">Вернуться на главную</a></p>
</div>
</body>
</html>